// Main file for status on jobs
h2 MARC2RDF status
h3 Status on running jobs:
button[type="button" id="run_test_job" class="gen" style="margin-left:48px"]  = "Run test job"
button[type="button" id="refresh_page" class="gen" style="margin-left:48px"]  = "Refresh_page"

// The status div

div id="status" class="divdot inputf"
  p running jobs
  table id="running-jobs" class="libraries active tablesorter"
    thead
      tr
        th[style="width:80px"]
        th[style="width:240px"] job id
        th[style="width:80px"] library id
        th[style="width:180px"] start time
        th[style="width:180px"] rule id
        th[style="width:180px"] tags
    tbody

  p scheduled jobs
  table id="scheduled-jobs" class="libraries active tablesorter"
    thead
      tr
        th[style="width:80px"]
        th[style="width:240px"] job id
        th[style="width:80px"] library id
        th[style="width:180px"] scheduled time
        th[style="width:180px"] rule id
        th[style="width:180px"] tags
        th[style="width:180px"] last run
    tbody

h3 history
div id="history" class="divdot inputf"
  p finished jobs
  table id="finished-jobs" class="libraries active tablesorter"
    thead
      tr
        th[style="width:240px"] job id
        th[style="width:80px"] library id
        th[style="width:180px"] run
        th[style="width:180px"] rule id
        th[style="width:180px"] time
        th[style="width:180px"] result
    tbody

javascript:
  var unschedule = function (jobid, libr) {
    var request = $.ajax({
      url: '/api/scheduler/unschedule',
      type: 'PUT',
      cache: false,
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({ 
          id: jobid,
          library: libr,
          }),
      dataType: 'json'
    });

    request.done(function(data) {
      console.log(data);
      window.location.reload();
    });

    request.fail(function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR.responseText);
    });
    return this;
  }
  var stop = function (jobid) {
    var request = $.ajax({
      url: '/api/scheduler/stop',
      type: 'PUT',
      cache: false,
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({ 
          id: jobid,
          }),
      dataType: 'json'
    });

    request.done(function(data) {
      console.log(data);
      window.location.reload();
    });

    request.fail(function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR.responseText);
    });
    return this;
  }

  $(document).on('ready', function () {
    // ** get running jobs, populate status table
    $.getJSON('/api/scheduler/running_jobs', function(data) {
      var rows = $('<tr>');
      $.each(data.jobs, function(i,job){
        rule_id      = job.params["tags"].shift(); // first tag is rule id
        rule_library = job.params["tags"].shift(); // second tag is library
        $('<tr>').attr('id',i)
            .append($('<td><button>stop</button></td>').click(function () { stop(job.job_id); }))
            .append($('<td>').text(job.job_id))
            .append($('<td><a href="/library/'+rule_library+'">'+rule_library+'</a></td>'))
            .append($('<td>').text(job.run_time))
            .append($('<td><a href="/rules/'+rule_id+'">'+rule_id+'</a></td>'))
            .append($('<td>').text(job.params['tags'].join(',')))
            .appendTo('#running-jobs tbody');
      });
    });
    
    // ** get scheduled jobs, populate status table
    $.getJSON('/api/scheduler/find_all_jobs', function(data) {
      var rows = $('<tr>');
      $.each(data.jobs, function(i,job){
        rule_id      = job.params["tags"].shift(); // first tag is rule id
        rule_library = job.params["tags"].shift(); // second tag is library
        $('<tr>').attr('id',i)
            .append($('<td><button>stop</button></td>').click(function () { unschedule(job.job_id, rule_library); }))
            .append($('<td>').text(job.job_id))
            .append($('<td><a href="/library/'+rule_library+'">'+rule_library+'</a></td>'))
            .append($('<td>').text(job.start_time))
            .append($('<td><a href="/rules/'+rule_id+'">'+rule_id+'</a></td>'))
            .append($('<td>').text(job.params['tags'].join(',')))
            .append($('<td>').text(job.run_time))
            .appendTo('#scheduled-jobs tbody');
      });
    });
    
    // ** get history, populate status table
    $.getJSON('/api/scheduler/history', function(data) {
      var rows = $('<tr>');
      $.each(data.history.reverse(), function(i,job){
        job.job_id ? job_id = job.job_id : job_id = job.cron_id;
        $('<tr>').attr('id',i)
          .append($('<td>').text(job_id))
          .append($('<td>').text(job.library))
          .append($('<td>').text(job.time))
          .append($('<td><a href="/rules/'+job.rule+'">'+job.rule+'</a></td>'))
          .append($('<td>').text(job.length))
          .append($('<td><button>result</button></td>').click(function () { alert(job.result); }))
          .appendTo('#finished-jobs tbody');
      });
    });
        
    $('button#refresh_page').on('click', function() {
      window.location.reload();
    });
  
    $('button#run_test_job').on('click', function() {
        request = $.ajax({
          url: '/api/scheduler/test',
          type: 'PUT',
          cache: false
        });
    });
    
  });
  
