@import url("/css/normalize.css");

body        { font-family: Arial; font-size:16px;}
h2          { border-bottom: 1px solid #ccc;}
h3          { margin-top: 26px;}
pre         { background-color: #ef9384; border: 1px solid #c03019;
              border-radius: 3px; font-size: 13px; line-height: 19px;
              padding: 6px 10px;}
a:link, a:visited { color: #5740e6; text-decoration: none }
a:hover     { text-decoration: underline }

/* layout */
div.main    { width: 100%; margin: auto;}
div#header  { background-color: #97C28F;}
div#header-library { }
div#header-buttons { float: right; margin-top: -3px; padding:0; }
div#footer  { position:fixed; left:0px; bottom:0px; width: 100%; height: 23px; font-size: 10pt; overflow: hidden; font-family: monospace; 
              border-top: 1px solid lightgray; text-align: center; background-color: #F5F5F5; }

/* tabs and panes */
ul.tabs { padding:0; display: block; font-size:0.8em; position:relative; top:1px;}
ul.tabs li { display:block; float:left; background:#ccc; padding:7px 10px;
			 border-left:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc	;}
ul.tabs li:hover { cursor: pointer; color:#fff; background: #888;}
ul.tabs li.active { cursor:default; background:#fff; color:#000;}
div.panes { width:90%; height:600px; border: 1px solid #ccc; padding:10px; clear:both;}

/* mapping */
div.mapping { margin-left:50px;}

/* loading spinner */
.loading {
    background: url('/img/ajax-loader.gif') no-repeat center;
}
/* Hide all the children of the 'loading' element */
.loading * {
    display: none;  
}

img.logo    { margin-top: 10px; margin-left:10px;}

span 		    { font-family: monospace; font-size: 12px; font-weight: bold; }
span.info   { display: none; }
span.error  { display: none; color: #c03019; font-weight: bold; }
span.bold   { font-weight: bold;}
.inputmissing { background: yellow;}
span.inherited { color:#c03019; }
div.inputf  { font-size:12px; font-family: "Consolas", Courier, monospace; margin-left: 30px; margin-right: 30px;}

div.divdot    { border: 1px dotted #ccc; padding:14px; background-color: #f8f8f8;}
button        { background-color: #e8e8e8; border: 1px solid #888; border-radius: 2px;
                padding: 3px; color: #160b57; font-size: 12px; font-family: monospace;
                min-width: 22px;}
button:disabled { border: 1px dashed #ccc; color: #aaa;}
button:disabled:active { background: #e8e8e8; position:static;}
button:active { background:#ddd; position:relative; top: 1px; }
button.gen    { margin-right:10px;}
ul            { list-style: none; }
li.header     { padding:10px; margin-right:13px; border: 1px solid #eee; color:#fff;
				background-color: #999; letter-spacing: 0.15em; display:inline-block;
				font-family: "Consolas", Courier, monospace; font-size: 14px; border-radius: 2px;}
li.header a    {color:#fff;}
li.header a:hover {text-decoration:none;}
li.header:hover { background-color: #88a; }

table.genform  {  }
.genform td    { padding: 5px; font-weight: bold;}
.genform input { width:250px ; }

table.libraries { margin-left:48px; }
table.libraries tr:hover { background-color:#f5f5f5;}
table.libraries th { text-align: left; }
